<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="ja">
    <title>MyWorkShop | <%= content_for?(:title) ? yield(:title) : "MyWorkShop" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>    
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div class="row">
        <%= render partial: '/layouts/navigation' %>
        <%= render partial: '/layouts/application' %>
      </div>
    </div>
  </body>
</html>
     
